body{
	font-family: 'Montserrat', sans-serif;
    
}
header{
	background-color:#35393D;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.banner-sec{
	overflow: hidden;
}


.padding{
  padding: 16px 49px!important;

}

header nav img{
	padding-left: 60px!important;
}

.navbar a{
	color: white!important;
	font-size: 13px!important;
	padding-right: 20px!important;

}
.btn-color{
	background-color: #00AAE0;
	padding:10px 40px;
	border-radius:30px;
	color:white;
	font-size: 16px;
    
}
.banner-text{
	padding-bottom:262px;
	text-align: center;
}

.banner-text h2{
 font-size: 50px;
}
.banner-text p{
 font-size: 16px;
}


.offer-sec{
	padding: 100px 0px;
	
}
.title{
	padding-bottom:60px;
	overflow: hidden;
}
.color-p{
	color:gray;
}
.offer-sec .title p{
	width:50%;
	margin: 10px auto;
}

.border{
	width: 90px;
	margin:20px auto;
    
    
}

.service-item{
	padding: 20px 10px;
	border:1px solid #eee ;
	margin-bottom: 15px;
}

.service-item:hover{
	box-shadow: 0 5px 65px 0 rgba(0,0,0,0.15);
}
.service-item i{
	font-size: 30px;
	padding:8px 10px;
	border-radius: 30px;
	background-color: #00AAE0;
	color:white;
	margin-bottom: 10px;
}
.service-item i:hover{
	background-color: white;
	color:#00AAE0;
}

.service-item h2{
  padding-top:10px;
}
.service-item p{
  padding:10px 0px 30px 0px;
}

.about-sec{
	padding: 100px 0px;
	background-color: #F7F7F7;
}
.about-sec .title p{
	width:50%;
	margin: 10px auto;
}
.about-item{
	padding-top:5px;
	
}
.creat-sec{
	background-image: url("images/call-to-action-bg-2.jpg");
	padding:100px 0px; 
	color:white;

}
.creat-sec p{
	width:50%;
	margin:20px auto;
}
.align-set{
	text-align: center;
	width:60%;
	margin: 10px auto;
}

.padding-text{
	padding-right: 0px!important;
	padding-left: 60px!important;
}



.award-item{
	padding-bottom:10px;
	color:#444;
	position:relative;

}

.award-item i{
	text-align: center;
    font-size: 30px;
	padding:8px 10px;
	border-radius: 30px;
	background-color: #00AAE0;
	color:white;
	margin-bottom: 10px;
	text-align: center;
}
.counters-item{
	display: block;
	position: relative;
}
.counters-item:before{
    background: #e5e5e5;
    content: "";
    margin-top: -27.5px;
    height: 60px;
    width: 2px;
    position: absolute;
    right: -15px;
    top: 50%;
}
.counters-item span {
    display: inline;
    font-size: 30px;
   
}
.counters-item h3 {
	text-align: justify;
}


.counters-item.kill-border:before{
    background: none!important;

}

.testimonial-sec{
  padding: 80px 0px 100px 0px;
  overflow: hidden;
  background-image:url("images/234.jpg");
  position: relative;
}

.shape{ 
width: 35%;
border-radius: 79px;
margin: 20px 50px 0px 152px;
}

.latest-post{
	padding: 80px 0px;
	background-color: #F7F7F7;

}
.latest-post .title p{
	width:50%;
	margin:20px auto;
}
.latest-btn{
	background-color: #00AAE0;
	padding: 12px 20px;
    border-radius: 54px;
    color: white;
    font-size: 15px;
}
.full-size{
	margin:20px auto;

}
.img-text{
	padding:10px;
}

.border-text{
	
    position: relative;
   
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;


}
.footer-top{
	padding: 120px 0px;
	background-color: #222222;
	color:white;

}
.font{
	font-size: 13px;
}
footer ul{
	padding-inline-start:0px!important;
}

.font ul li a{
	text-decoration: none;
    
    color:#bdbdbd;
	
}
.font p{
	color: #bdbdbd;
}

a:hover{
	background-color: #00AAE0;
	color:white;
}

.Copyright{
	padding:30px 0px;
	color:gray;
	background-color: #1B1B1B;
	text-align: center;
	
}
.Copyright h5{
	font-size: 13px;

}
.Copyright h6{
   font-size: 12px;
   display: inline;
}
